﻿body {
    background: white;
}

.blocks {
    padding-bottom: 1.2em;
}

.cb-style {
    max-width: 100%;
    background-color: #efefef;
}

.code-box-wrapper > table {
    margin: 10px auto;
}

.code-box-wrapper h2 {
    text-align: center;
}

.cb-header > td,
.cb-item > td {
    border: none;
    padding: 0 20px;
}

/* remove the left padding of every second td */
.cb-header > td:nth-of-type(2n),
.cb-item > td:nth-of-type(2n) {
    padding-left: 0px;
}

/* add a bottom padding to the last two items on the table to give a nice space */
.cb-item:last-child > td{
    padding-bottom: 20px;
}

footer {
    border-top : 2px solid #1d1d1d;
}