﻿.cb-style {
    background-color: darkslategrey;
    border: 1px solid darkslategray;
    color: white;
}

.cb-header {
    color: #fff;
    background-color: slategrey;
    font-size: 1.2em;
    font-weight: bold;
}


