﻿body {
    background-color: black;
    color: white;
}

.navbar-inverse {
    background-color: darkslategray;
    border-bottom: 1px solid #1d1d1d;
    font-weight: bold;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-nav > li:hover {
    display:block;
    color:darkblue;
}

a:hover {
    color: darkblue;
}

footer {
    border-top-color: darkslategray;
}
