﻿.cb-style {
    background-color: cornsilk;
    border: 1px solid cornflowerblue;
}

.cb-header {
    color: #fff;
    background-color: cornflowerblue;
    font-size: 1.2em;
    font-weight: bold;
}