﻿body {
    background-color: aliceblue;
    color: #1d1d1d;
}

.navbar-inverse {
    background-color: cornflowerblue;
    border-bottom: 1px solid #1d1d1d;
    font-weight: bold;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

a:hover {
    color: cornsilk;
}